{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="breadcrumb">
    <a href="/"> Tiny Library </a> / <a href= "/archive"> Archive </a>
</div>
<div class="page_title">
    {{item.name}}
</div>
<div class="page_title">
    {{item.title}}
</div>
<div class="content">
    <div class="image">
        {% if item.pictures %}
        <div class = "gallery"></div>
        {% for pic in item.pictures %}
            <a href="/archive/photos/{{pic.id}}"> <img src="{% get_media_prefix %}{{ pic.picture }}" alt="{{ item.name }}"> </a>
        {% endfor %}
        </div>
    {% endif %}
    </div>
    <div class="info">
        <ul>
            <li>Description: <p>{{item.description}}</p> </li>
            <li>Language: {{item.language}}</li>
            <li>Contributor Names: <p>{{item.contributor_names}}</p> </li>
            <li>Location Published: <p>{{item.location_published}}</p> </li>
            <li>Subject Headings: <p>{{item.subject_headings}}</p> </li>
            <li>Summary: <p>{{item.summary}}</p> </li>
            <li>Genre: <p>{{item.genre}}</p> </li>
            <li>Form: <p>{{item.form}}</p> </li>
            <li>Online Format: <p>{{item.online_format}}</p> </li>
            <li>Source URL: <p>{{item.source_URL}}</p> </li>
            <li>PDF: <p>{{item.PDF}}</p> </li>

        </ul>
    </div>
  
    
</div>
{% endblock %}