{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="breadcrumb">
    <a href="/"> Bear Library </a> / <a href= "/archive"> Archive </a>
</div>
<div class="page_title">
    <p><h2>{{item.name}}</h2></p>
</div>
<div class="content">
    <div class="image">
        {% if item.pictures %}
        <div class = "gallery"></div>
        {% for pic in item.pictures %}
            <a href="/archive/photos/{{pic.id}}"> <img src="{% get_media_prefix %}{{ pic.picture }}" alt="{{ item.name }}"> </a>
        {% endfor %}
        </div>
    {% endif %}
    </div>

    <div class="info">
        <ul>
            <li><strong>Designer:</strong> {{item.designer}}</li>
            <li><strong>Sculptor:</strong> {{item.sculptor}}</li>
            <li><strong>Material:</strong> {{item.material}}</li>
            <li><strong>Description:</strong> <p>{{item.description}}</p> </li>
            <li><strong>Location:</strong> {{item.location}}</li>
            <li><strong>Installed Year:</strong> {{item.installed_year}}</li>
            <li><strong>Color:</strong> {{item.color}}</li>
            <li><strong>Length(cm):</strong> {{item.length}}</li>
            <li><strong>Width(cm):</strong> {{item.width}}</li>
            <li><strong>Height(cm):</strong> {{item.height}}</li>
            <li><strong>Weight(kg):</strong> {{item.weight}}</li>
        </ul>
    </div>

    
</div>
{% endblock %}