body{
  background-color: floralwhite;
}
h1{
    color:#255E65;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}
p2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: dimgray;
}
a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    color: #3591A0;
}