{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page_title">
   <h1> About Us </h1>
</div>
<div class="intro">
    <p>Welcome to the archive of Beanie Baby Cards!</p>
</div>
<div class="exhibit_text">
    <p>This archive is presented to you by Adam Tangonan, Taline Kevranian, and Magdalena Avila.<br>
    This archive is being shown and exhibited in order to pay homage to and remember the fad 
    of the<br> beanie babies and where they come from. In a few years when a kid goes up into the 
    attic and<br> finds their parent's cards, beanies, and memorabilia they will have no idea what 
    these things are<br> and the impact they had on the world at the time. That is why we are here, 
    to change that<br> narrative. Kids can use this archive to read about and engage with what their 
    parents used to play<br> with when they were their age. All of these cards were donated by a small 
    business in<br> Burlingame called Nuts for Candy which has been selling beanie babies and beanie 
    baby cards<br> for over 20 years. We hope this brings you a little nostalgia and or insight into 
    what kind of toys<br> and collectible cards kids were playing with in the 90s. Have fun, explore, 
    and immerse<br> yourselves in all things beanie!</p>
</div>


{% endblock %}