{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page_title">

<header><h1>General Description of Digital Archive Project-Bear Project</h1></header>
<p><h3>This is the finial project of DigHum150A Summer 2023 by Beike Li, Kanglin He, Peiying Guan, and Leah Anna Marie Rasquino.</h3></p>
<p>In this project, we built a digital archive for five bear sculptures on University of California Berkeley campus. 
    Having bear as the school mascot, we can see a lot of bear-related elements around the campus, including bear sculptures. 
    They are the important part of our campus scenery and history, but there is a lack of accessible digital collection of these campus bear sculptures online. 
    Therefore, we decide to build a digital archive for these bears, including their names, measurements (length, width, weight, height), color, material, 
    installed time, location, designer, and sculptor as metadata. We also included a map that marks out their locations and hope it can help tourists find them more easily.</p>
<p>We decide to put the sculpture California Golden Bear on our exhibit page, mainly because this is the most famous bear sculpture on campus. For each sculpture, we will add their 
    background story as an introduction that allows the user of this archive to better know them.</p>
<p>This is a small archive that only includes five bears. There are many more bear sculptures on campus. For people who are interested in adding more bear objects, feel free to contact any of us.</p>

<p><h2><main>Go Bears! Go Bears! Go Bears!</main></h2></p>
<img src = "{% static 'images/Bears.gif' %}" alt ="Go Bears">
{% endblock %}