{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="w3-sand w3-grayscale w3-large ">

    
<div class="w3-container" id="about us">
    <div class="w3-content" style="max-width:700px">
        <div class="w3-row-padding" style="margin-top:208px">
            <img src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="" style="width:100%;max-width:800px"/>
        </div>
        <h2 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT US</span></h2>
        <p class = 'b w3-justify'>Hi! We are Group 2 for Dighum150A: Digital Humanities and Archival Design. Our names are Hannah Thompson, Samantha Reth, Xiaorui Liu, and Yue Zhang. For our final project, we decided to collect and digitalize various state plans surrounding the COVID-19 pandemic. We thought that not only was this topic extremely important as the world is still recovering from the damage of the pandemic, but we also felt that this information was innately essential to preserve for the future. Not only can it be used to analyze the different responses of certain states, but it can also inform future generations about the failures and successes of various plans when looked at with other data/information. </p>
        <p class = 'b w3-justify'>Furthermore, after learning from papers like Amy Earhart’s “Can Information Be Unfettered”, it became clear that even digitalized documents do not last forever. As ephemeral objects of interest, we felt that they needed to be preserved in a way that could be accessed if the originals were to disappear. Not only that, we wanted this information to be accessible and organized to allow for ease of comparison and analysis, which is why our collection is formed around the same topic.</p>
        <p class = 'b w3-justify'>Overall we hope that this project can inform others about the responses from various state-level governments. This information can be applied in many different scopes. From discussing the political response of different legislations to the understanding of public health and its integration into policy at the time, the documents provide a snapshot of the COVID-19 pandemic.</p>    

        
    </div> 
</div>
    
      
{% endblock %}