{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    <link rel="stylesheet" href="{% static 'css/item_photo.css'%}">
    <link rel="stylesheet" href="{% static 'css/photo.css' %}">
    <link rel="stylesheet" href="{% static 'css/index_exhibit.css' %}">
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    <title>"The Tiny Library"</title>
    
</head>

<body data-media-url="{% get_media_prefix %}">
    {% block content %}
    {% endblock %}
</body>

</html>