{% extends 'base.html' %}
{% load static %}
{% block content %}



<body>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">

    <div class="w3-display-middle">
      <h1 class="w3-jumbo w3-animate-top w3-tag w3-red">The COVID-19 Projects</h1>
      <hr class="w3-border-grey" style="margin:auto;width:100%">
      <p class="b w3-center">Thanks for visiting our small, but still growing archive. Our collection includes born-digital articles pertaining to the COVID-19 pandemic with a particular focus on State governments' responses in the United States.</p>
    </div>
    <div class="w3-display-bottomleft w3-container">
        <p class="w3-xlarge">by Group 2</p>
        <p><a href="https://unsplash.com" target="_blank">All Image Sources: unsplah</a></p>
    </div>
</body>
  
{% endblock %}
</div>
</body>