{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>

</style>

<div class="page_title">
    <p class="first">The Tiny</p>
    <p class="second">Library of Camera</p>
</div>


<div class="intro">
    <p>Wonderful moments,Eternal images.</p>
</div>


<ul class="container">
    <li> 
        <a href="archive/"> Archives</a> 
    </li> 
    <li> 
        <a href="exhibit/"> Exhibits </a>
    </li>
    <li> 
        <a href="about us"> About Us</a>
    </li>

</ul>

<div class="images">
    <ul class="images-top">
        <li>
            <img class="img1" src = '{% static "images/img1.jpg"%}' alt="">
        </li>
        <li>
            <img class="img1" src = '{% static "images/img2.jpg"%}' alt="">
        </li>
        <li>
            <img class="img1" src="{% static 'images/img3.jpg' %}" alt="">
        </li>
        <li>
            <img class="img1" src="{% static 'images/img4.jpg' %}" alt="">
        </li>
    </ul>
    <ul class="images-bottom">
        <li>
            <img class="img3" src = '{% static "images/img5.jpg"%}' alt="">
        </li>
        <li>
            <img class="img3" src = '{% static "images/img6.jpg"%}' alt="">
        </li>
        <li>
            <img class="img3" src = '{% static "images/img7.jpg"%}' alt="">
        </li>
        <li>
            <img class="img3" src = '{% static "images/img8.jpg"%}' alt="">
        </li>
    </ul>
</div>



{% endblock %}