{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="breadcrumb">
    <a href="/"> Tiny Library </a> / <a href="/exhibit"> Exhibits </a>
</div>
<div class="page_title">
    <h2>{{title}}</h2>
</div>
<div class="content">
    <div class="exhibit_items">
    
            {% for item in exhibit_items %}
    
                <div class="exhibit_item">
                
                        {% if item.image %}
                        <a href="/archive/{{item.id}}"><img src="{% get_media_prefix %}{{item.image}}" /></a></li>
                        {% endif %}
                        <li><h3><a href="/archive/{{item.id}}">{{item.name}}</a></h3></li>
  
                        <h3><li>{{item.description}}</li></h3>
                    
                </div>
            
            {% endfor %}
        
    </div>
    <div class="exhibit_text">
        <h3>{{exhibit_text}}</h3>
    </div>
</div>

{% endblock %}