{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="breadcrumb">
    <a href="/"> Tiny Library </a> / <a href="/exhibit"> Exhibits </a>
</div>
<div class="page_title">
    {{title}}
</div>
<div class="content">
    <div class="exhibit_items">
        <ul>
            {% for item in exhibit_items %}
            <li>
                <div class="exhibit_item">
                    <ul>
                        {% if item.image %}
                        <li><a href="/archive/{{item.id}}"><img src="{% get_media_prefix %}{{item.image}}" /></a></li>
                        {% endif %}
                        <li><a href="/archive/{{item.id}}">{{item.name}}</a></li>
  
                        <li>{{item.description}}</li>
                    </ul>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="exhibit_text">
        {{exhibit_text}}
    </div>
</div>

{% endblock %}