{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="page_title">
    <h1> The COVID-19 Web Archive </h1>
 </div>

<div class="breadcrumb">
    <a href="/"> Tiny Library </a>
    <p>
    </p>
</div>

<div class="page_title">
    <h2>
        Exhibits
    </h2>
</div>
<div class="content">
    {% if exhibits %}
    <ul>
        {% for exhibit in exhibits %}
        <li>
            <div class="exhibit"><a href="{{exhibit.id}}">{{exhibit.name}} </a> : {{exhibit.snippet}} </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No exhibits yet!</p>
    {% endif %}
</div>

{% endblock %}